.main-box {
    margin-bottom: 0;
}

.user-box {
    display: flex;
    height: 100%;
    position: relative;
}

.user-nav {
    width: 64px;
    height: 100%;
    transition: all 200ms;
}

.user-nav .face {
    padding: 30px 20px 20px 20px;
    text-align: center;
    display: none;
}

.user-nav .face .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-nav .slider-btn {
    padding: 20px 20px 20px 20px;
    cursor: pointer;
}

.user-nav .slider-btn:hover {
    background-color: #eeeeee;
}

.user-nav ul {
    padding: 0;
}

.user-nav li {
    -webkit-user-select: none;
    user-select: none;
    list-style-type: none;
    border-left: 4px solid rgb(0, 0, 0, 0);
}

.user-nav li:hover {
    background-color: #eeeeee;
    border-left: 4px solid #868686;
}

.user-nav li.active {
    background-color: #eeeeee;
    border-left: 4px solid #4d90fe;
}

.user-nav li a {
    color: #000000;
    display: block;
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.user-nav li a:hover {
    text-decoration: none;
}

.user-nav li a span {
    margin-left: 10px;
    vertical-align: middle;
    display: none;
}

.user-nav.slider-on {
    width: 260px;
    position: absolute;
    z-index: 1;
    transition: all 200ms;
}

.user-nav.slider-on li a span {
    display: inline;
}

@media (min-width: 768px) {
    .user-nav {
        width: 260px;
    }

    .user-nav.slider-on {
        position: unset;
    }

    .user-nav li a span {
        display: inline;
    }

    .user-nav .face {
        display: block;
    }
    
    .user-nav .slider-btn {
        display: none;
    }
}

.user-main {
    padding: 40px;
    flex: 1;
    width: calc(100% - 64px);
}

.user-main .nav-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e9;
}

.profile-form, .password-form {
    max-width: 300px;
}


.user-main .btn-submit {
    padding: 6px 30px;
}